body {
  width: 100%;
  height: 100%;
  background: #f2eded;
}

.container {
  padding-top: 2em;
}

.portrait {
  border-radius: 0.5em;
  margin-bottom: 1em;
  width: 70%;
}

.footer {
  margin-bottom: 1em;
}
.footer ul {
  padding-left: 0;
}
.footer li {
  display: inline;
  padding: 0 2%;
}
.footer li a {
  color: #FF7800;
}
.footer li a:hover {
  color: #028E9B;
}

ul {
  list-style: none;
}

h1, h2 {
  color: #028E9B;
}

a {
  color: #7608AA;
}

